@charset "utf-8";
/*  --------------------- Account Summary  ---------------------------------------*/
.top-box{width:380px; background-color:#666; height:225px;}
.top-box .title{height:50px; background: #ffffff; padding-top:20px; padding-left:20px;}
.top-box .title .pad-top{
	position: relative; 
	top: 5px;
	font-family: "HelveticaNeueLTStd", Helvetica, Arial, sans-serif;
	font-size: 1.375em;
	text-transform: uppercase;
	font-color: #444444;
	}
.top-box .current-bg{background:url(../images/bkgd_grey_current_bal.png) no-repeat; height:100px; 
	font-family: "HelveticaNeueLTStd", Helvetica, Arial, sans-serif;
	font-size: 3.125em;
	text-transform: uppercase;
	color:#fff;
	text-align:center;
	position:relative;	
}
.top-box .current-bg .position-price{padding-top:15px;}
.top-box .teal-toolbar{background: url(../images/bkgd_teal_toolbar.png) repeat-x; 
	padding:2px; 
	padding-left:20px;
	padding-right:15px;
	color:#FFF; 
	font-family: "HelveticaNeueLTStd", Helvetica, Arial, sans-serif;
	font-size: 1.000em;
	text-transform: standard;
}
.top-box .teal-toolbar a{color:#FFF;}
.circle-arrow{padding-bottom:5px;}


.lease-container{
	position:relative;
	border:1px solid red;
}
.lease-date{
	padding:10px 20px 0px 0px;
	font-family: Helvetica;
	font-size: 0.750em;
	text-transform: standard;
	font-color: #444444;
	font-weight: regular;
}
.lease-bg{
	background:url(../images/bkgd_grey_lease.png) no-repeat; height:100px; 
	color:white;
	
}
.lease-positioning{
	text-align:center;
	font-family: "HelveticaNeueLTStd", Helvetica, Arial, sans-serif;
	font-size: 1.000em;
	text-transform: standard;
	font-color: white;
	padding-top:20px;
}
.claendar-holder{
	width:170px;
	text-align:center;
}
.left-calendar-flip{background:url(../images/bkgnd_calendar_months.png) no-repeat;
	height:78px;
	width:84px;
}
.right-calendar-flip{background:url(../images/bkgnd_calendar_days.png) no-repeat;
	height:78px;
	width:84px;
}
.view-lease-toolbar{
	position:absolute;
	bottom: 0px;
}
/*  --------------------- End Account Summary  -----------------------------------*/


