@charset "utf-8";
ul.form-with-validation,
ul.form-with-validation ul {
	padding: 0;
}
ul.form-with-validation label {
	color:#444;
}
ul.form-with-validation label.discreet {
	color:#666;
	font-size: 12px;
}
ul.form-with-validation li {
	position: relative;
	margin: 0 0 10px;
}
ul.form-with-validation input[type=text],
ul.form-with-validation input[type=password],
ul.two-thirds input[type=text],
ul.two-thirds input[type=password] {
	transition: 				all 0.25s;
	-o-transition: 			all 0.25s;
	-moz-transition: 		all 0.25s;
	-webkit-transition: all 0.25s;
	height: 35px;
}
ul.form-with-validation .select-wrapper {
	vertical-align: top;
	margin: 0 10px 0 0;
}
ul.form-with-validation li.address input.street {
	margin-bottom: 10px;
}
ul.form-with-validation li.address input.city {
	width: 510px !important;
}
ul.form-with-validation li.address .select-wrapper label {
	width: 30px;
}
ul.form-with-validation li.address input.zip {
	width: 55px !important;
}

ul.form-with-validation .select-wrapper label {
	width: 690px;
	padding-top: 		8px;
	padding-bottom:	7px;	
/* This was changed for http://a/contact-information.html. Used to be:
	padding-top: 9px;
	padding-bottom:8px;*/
}
ul.form-with-validation input.input-validation-error {
	margin: 0;
	border: 1px solid #FF0000;
}
ul.form-with-validation .ui-state-error-text,
ul.two-thirds .ui-state-error-text {
	font-size: 11px;
	font-weight: bold;
	display:block;
}
ul.form-with-validation .message-text,
ul.two-thirds .message-text {
	font-size: 11px;
	color: #6E6E6E; 
	float:right;
}
ul.two-thirds .message-text,
ul.two-thirds .right {
	width:230px;
	padding-top: 10px;
}
ul.two-thirds .right {
	padding-top: 0;
}
/**
 * duplicatable content (see create-account-settings.html for an example)
 */
ul.two-thirds,
.two-thirds ul {
	padding:0;
	margin:0;
}
ul.two-thirds input[type=text],
ul.two-thirds input[type=password] {
	width: 450px;
}
.two-thirds .select-wrapper {
	margin-bottom: 3px;
}

/* Styled Select Boxes */
.select-wrapper{
	background: url(../images/icon_dropdown.png) no-repeat scroll right center transparent;
	display: inline-block;
	padding: 0 10px 0 0;
	position: relative;
	border: 0;
	vertical-align: bottom;
	margin-bottom: -5px;
}

.select-wrapper label {
	color: #333;
	padding: 4px 30px 5px 5px;
	margin: 0 -20px 0 0;
	float: left;
	min-height:14px;
	text-align: left;
}
.select-wrapper select {
	-webkit-appearance: none;
	-khtml-appearance:none;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 9999999;
	outline: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	min-width:100%;
}

/* Inputs */
.form-with-validation input[type=text],
.form-with-validation input[type=password],
.form-with-validation input[type=email] {
	width: 700px;
}
.body-right .form-with-validation input[type=text],
.body-right .form-with-validation input[type=password],
.body-right .form-with-validation input[type=email],
.body-left .form-with-validation input[type=text],
.body-left .form-with-validation input[type=password],
.body-left .form-with-validation input[type=email],
.padded .form-with-validation input[type=text],
.padded .form-with-validation input[type=password],
.padded .form-with-validation input[type=email] {
	width: 100%; 
}
.form-with-validation input[type=radio] {
	vertical-align: middle;
}
.select-wrapper label,
input[type=text],
input[type=password],
input[type=email] {
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25) inset;
	border-radius: 2px;
	border: 1px solid #B9BCBE;
	padding-left: 5px;
	outline: none;
	
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	
}

/* Submit Button */
button.submit,
button.cancel {
	height: 37px;
	outline: none;
	border: 0;
	position: relative;
	padding: 0;
	margin: 0;
	background: none;
	overflow:visible;
}
button.submit span,
button.cancel span{
	font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 37px;
	background: url(../images/button_submit.png) no-repeat scroll left top transparent;
	display:block;
	padding: 10px 20px 10px 30px;
	color:#FFFFFF;
}
button.submit span.end,
button.cancel span.end {
	background-position: right -37px;
	margin:0;
	position:absolute;
	top:0;
	right:-10px;
	height:37px;
	width:10px;
	padding:0;
}
button.submit[disabled] span,
button.cancel span {
	background-position: left -74px;
}
button.submit[disabled] span.end,
button.cancel span.end {
	background-position: right -111px;
}

textarea {
	background-color: #f6f6f6;
	resize: none;
	padding: 5px;
	border:1px solid #c1c6c8;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

  box-shadow: 				inset 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: 			inset 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 		inset 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
}
input.autoclear {
	color: #aeaeae;
	background: none no-repeat scroll 0 0 #F2F2F2;
}

/*	TH - Styles I've added for forms.	*/
/*styles used for registration and login pages.*/
p.form-note{
	font-size: 11px;
	font-family: Arial, sans-serif;
	color: #888;
}
.form-note-alert{font-style:italic; font-size:10px; color: #FF0000;}
.back-to-sign-in{float:left; position: relative; height:20px; width:120px;}
.back-to-sign-in .sign-in-text {position:absolute; bottom:0px; padding-left:5px;}

.form-entry{
	width:550px;
}
.left-form-div{
	float:left; width:400px; padding-bottom:10px;	
}
.right-form-div{
	float:left; width:100px;margin-left:40px;  padding-bottom:10px;
}
.show-toggle-a{display:block;}
.show-toggle-b{display:none;}
/*label{font-weight:bold;} don't make changes to such non-specific elements. this effects a lot */
.textbox-checkmark{background:url(../images/icon_check.png) no-repeat 98% center; }
/*  --------------------- Account settings  ---------------------------------------*/
.security-question{width:550px;}
/*  --------------------- End Account settings  -----------------------------------*/

/*	TH - end styles I've added		*/