@import url(nav.css);
/* =============================================================================
 * MadJon's Customizations
 * ============================================================================= */

body {
	background-color:#000000;
}
/*body, p, h1, h2, h3, h4, h5, span, a, li {
	font-family: Comic Sans MS !important;
}*/
body.signed-in {
	background: url(../images/bkgd_graphite_tile.png) repeat scroll 0 0 transparent;
}
/*body.signed-in #background-image{
	display:none;
}*/
a {
	color:#00929f;
	text-decoration: none;
}
a.replace {
	background: url(../images/icon_account_replace.png) no-repeat scroll left center transparent;
	padding: 0 5px 0 20px;
}
a.remove {
	background: url(../images/icon_account_remove.png) no-repeat scroll left center transparent;
	padding: 0 5px 0 15px;
	color: #cf2434;
}
/*a:hover {
	text-decoration:underline;
}*/
.error {
	color: #e34848;
}
.dialog {
	display:none;
	overflow:hidden !important; /*stupid IE */
}
.left {
	float:left;
}
.right,
footer .right {
	float: right;
}
.text-right {
	text-align: right;
}
.text-normal {
	font-weight: normal;
}
.ui-icon {
	background: url(../images/icon_triangle_accordion.png) no-repeat scroll 0 0 transparent;
	width:14px;
	height:14px;
	left: 30px;
	position: absolute;

	transition: background-position 0.25s;
	-o-transition: background-position 0.25s;
	-moz-transition: background-position 0.25s;
	-webkit-transition: background-position 0.25s;
}
fieldset.no-border {
	border: 0 !important;
}
#main, footer {
	z-index:3;
	position:relative;
}
#background-image {
	position:fixed;
	z-index:1;
	right:0;
	opacity:0.8;
}
.add-button {
	background: url(../images/button_plus.png) no-repeat scroll 0 0 transparent ;
	height:20px;
	display:block;
	padding-left: 25px;
}
#main {
	width: 770px;
	margin: 0 auto;
	display: block;
	padding: 20px 0 20px;
}
#main #error {
	text-align: center;
	height: 60px;
	width: 100%;
	color: #e34848;
}
#mail {
	display:none;
}
/**
 * Forms
 */

.submit-area {
	text-align: center;
	clear: both;
}
#dialog-email .submit-area {
	text-align:right;
	padding-right:20px;
}

.form-element {
	padding-bottom:20px;
}

.form-element textarea {
	width:420px;
	float:left;
}
.form-element .notes p {
	padding:5px 0;
}
.form-element h4,
.form-element-right h4
{
	color:#6E6E6E;
}
.form-element-right {
	float: right !important;
	width: 250px;
	text-align: right;
}
.form-element {
	clear:left;
	float:left;
}
fieldset.form-element {
	float:none;
	padding-top: 10px;
}
h4 {
	padding: 0 0 10px;
	font-size: 1.125em;
}
.form-element,
.form-element-right {
	padding: 20px 0;
}
.select-element select,
.form-element select,
.form-element-right select {
	margin-left:15px;
}

.form-element label,
.form-element-right label {
	display:block;
	font-size: 0.750em;
	color: #666666;
	margin:10px 0 0;
}
.form-element label input,
.form-element-right label input {
	margin-right: 10px;
}

.form-element-with-notes .notes {
	float: left;
	width: 200px;
	font-size: 0.625em;
	padding-left: 20px;
}
.notes,
.squared-box p.notes {
	font-size: 10px;
}
.form-element-with-notes .under-notes {
	color: #6E6E6E;
	padding-top: 10px;
	float: left;
	clear:left;
	font-size: 0.750em;
	width:410px;
}
.form-element-with-notes textarea {
	width:408px;
	display:block;
	float:left;
}


/**
 * Two-column layouts
 */
.two-column {
	position:relative;
	font-size: 1em;
	color: #666666;
	padding: 10px 0 0 200px;
	
}
.two-column .label-column {
	position:absolute;
	top: 10px;
	left: 0;
	width: 190px;
	text-align:right;
}

.two-column select {
	margin-left:15px;
}

.two-column label {
	font-size: 0.750em;
	color: #666666;
	margin: 0 0 5px;
	display:block;
}
.two-column label input {
	margin-right: 10px;
}
/**
 * shared modular style-rules
 */
.rounded-box {
	background-color: #FFFFFF;

	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}
.rounded-box .box-title{
	padding: 10px 15px 5px;
	border-bottom: 1px solid #BFC3C5;
	background: url(../images/bkgd_box_header_small.png) repeat-x scroll 0 0 transparent;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.rounded-box .box-title a.right {
	padding-top: 5px;
	font-size: 12px; /* this is new */
	text-decoration: none;
	color: #444444;
}

/*description-summary*/
#dialog-email .form-element {
	clear: both;
	padding: 0;
}
#dialog-email .description-summary {
	font-size: 0.750em;
}
.description-summary h3,
.description-summary h4,
#dialog-email .form-element label.form-label {
	width: 150px;
	float: left;
	clear: left;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	margin:0 !important;
}
#dialog-email .form-element label.form-label {
	width: 70px;
	text-align: left;
	font-size: 1.000em;
	font-family: "HelveticaNeueLTStd", Helvetica, Arial, sans-serif;
}
.description-summary p,
#dialog-email .form-element select,
#dialog-email .form-element input,
.list-form .form-element input {
	display: block;
	float: left;
	width: 400px;
	padding: 5px;	
	margin:0 !important;
}
#dialog-email .form-element select,
#dialog-email .form-element input,
.list-form .form-element input {
	padding: 1px 1px 1px 5px;	
	width:350px;
	height: 23px;
}
#dialog-email textarea {
	width:420px;
	height:150px;
	margin:10px 5px;
}
.list-form .form-element {
	clear: both;
	padding: 10px;
}
.list-form .form-element label {
	float:left;
	margin:0;
}
.list-form .form-element input {
	width:30px;
}
/* Rounded Corners/Box-shadow */
.marketing-boxes {
	padding-top:20px;
}
.small-box {
	padding: 10px 10px !important;
}
.rounded-box .box-title,
.squared-box .box-title {
	font-family: "HelveticaNeueLTStd", Helvetica, Arial, sans-serif;
	font-size: 1.375em;
	/*color: #6E6E6E;*/
	color: #444444; /* TM 7/4 :psd's show 444*/
	font-weight: normal;
}
.squared-box .box-title.discreet {
	font-size: 0.875em;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 10px;
}
.squared-box .box-title .title-area-right {
	padding: 10px 34px 0 0;
}
.squared-box .box-title .title-area-right,
.rounded-box .box-title .title-area-right {
	font-size: 0.563em;
	color: #666666; /* TM 7/4 :psd's show 666*/
	font-weight: regular;
	float:right;
}
.squared-box h3,
.rounded-box h3 {
	font-size: 1em;
	color: #999999;
}
/* Squared-corners/no drop-shadow */
.squared-box {
	background-color:#FFFFFF;
}
.padded {
	margin: 10px 25px;
}
.padded-small {
	margin: 10px;
}
.padded-left {
	margin-left:10px;
}
.squared-box div.accordion-body {
	margin: 0;
}
.request-summary .request-title,
.squared-box .box-title {
	height: 20px;
	padding: 10px 0 15px 30px;
	background: url(../images/bkgd_box_header_large.png) repeat-x scroll 0 0 transparent;
	font-weight: normal;
	border-bottom: 1px solid #bfc3c5;
}
.squared-box .box-title .submit-area-right {
	padding-right:30px;
	margin-top: -5px;
}
.squared-box p {
	padding: 8px 0;
}
.squared-box p {
	font-size: .875em;
}
.rounded-box p,
.squared-box p {
	color:#444;
}
/* Both */
.squared-box fieldset,
.rounded-box fieldset {
	border-bottom: 2px solid #E7E5E3;
	padding-bottom: 20px;
/*	margin-bottom: 20px;*/
}


.back-arrow {
	background:url(../images/icon_back_arrow_teal.png) no-repeat left center;
	padding-left: 12px;
}
.back-arrow  a{
	font-size: 0.875em;
}
/**
 * Photo Box
 */
.photo-box {
	position: relative;
	border: 3px solid #FFFFFF;
	float: left;
	border-radius: 5px;
}
.photo-box p {
	position: absolute;
	display:block;
	top:10px;
	left:5px;
	bottom:0;
	width:150px;
	font-family: "HelveticaNeueLTStd", Helvetica, Arial, sans-serif;
	text-shadow: 2px 0px 0px #FFFFFF;
	font-size: 1.375em;
	color: #1C1C1C;
	line-height: 1;
}
.photo-box p strong {
	font-size: 1.364em;
}
/**
 * Front-page specific
 */
.medium-width #main {
	width:640px;
/*	padding-top: 60px;*/
}
.narrow-width #main {
	width: 490px;
}
.body-left {
	width:240px;
	padding-right:10px;
	border-right:1px solid #cccccc;
	font-size: 0.875em;
	float: left;
}
.body-left ul {
	font-family: "HelveticaNeueLTStd", Helvetica, Arial, sans-serif;
	padding: 10px 0;
	margin: 0;
}
.body-left ul li {
	background: url(../images/icon_check.png) no-repeat scroll 0 0 transparent;
	padding-left:15px;
	font-size: 1.125em;
	color: #444444;
}
.body-right {
	width: 305px;
	float: left;
	padding-left: 25px;
}
h3.discreet {
	font-size: 0.875em;
	color: #444444;
	font-weight: bold;
}
.body-right p.error {
	margin-right: 10px;
	padding: 0 0 5px;
	font-size: 0.688em;
	font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
	color: #e34848;
}
.remember-area {
	float:left;
	position:relative;
	padding-left: 25px;
	font-size: 0.750em;
	color: #555555;
}
.remember-area input {
	position:absolute;
	top: 2px;
	left: 3px;
}
.remember-area a {
	color: #00929f;
	text-decoration: none;
	font-weight:bold;
}
.submit-area-right {
	float:right;
}
.button-droid,
.button-iphone {
	display:block;
	width:158px;
	height:51px;
	float: left;
	text-decoration:none;
}
.button-droid {
	background: url(../images/button_droid.png) no-repeat scroll 0 0 transparent;
}
.button-iphone {
	background: url(../images/button_iphone.png) no-repeat scroll 0 0 transparent;
	margin: 0 15px 0 0;
}

/**
 * Register
 */

#register {
	background-color: #FDFDFD;
	position: relative;
	padding: 20px 24px;
	margin: 0 auto;
	width: 420px;
}

/**
 * Request
 */
#request-sent .body p {
	margin: 10px 0;
}
.request-summary {
	
}
.request-summary .request-title {
	margin: 10px -25px;
	border-bottom: 1px solid #E7E5E3;
	border-top: 1px solid #E7E5E3;
	position:relative;
}
.request-summary .request-title .title {
	position: absolute;
	top: 5px;
	left: 10px;
	font-weight: bold;	
}
.request-summary .request-title .id {
	position: absolute;
	bottom: 5px;
	left: 10px;
}
.request-summary .request-title .status {
	position: absolute;
	top: 10px;
	right: 15px;
}
.request-summary .request-item {
	position:relative;
}
.request-summary .request-item h4 {
	position:top;
	
}
.request-summary .request-item p {
	
}
/** 
 *
 */
#service-request .two-column .label-column {
	font-size: 1.125em;
}

/**
 * Page specific to make-onetime-payment.html
 */
.balance table {
	font-size: 0.750em;
	font-weight: bold;
}
.balance table td.description {
	text-align: center;
	width: 100%;
	font-weight: normal;
}
.balance table tbody td {
	padding-bottom: 10px;
	white-space: nowrap;
}
.balance table tfoot td {
	padding-top: 15px;
	border-top: 2px solid #E2E2E2;
}

.balance table tfoot #total {
	font-weight: 100;
	font-size: 1.5em;
}

/**
 * switchable content
 */
.switchable ul input,
.switchable ul span,
.switchable .select-wrapper {
	opacity: 0;
}
.switchable ul p {
	margin: -38px 7px 0;
	opacity: 1;
}
.switchable-edit ul li input,
.switchable-edit ul li span,
.switchable-edit ul li .select-wrapper {
	opacity: 1;
}
.switchable .squared-accordion p {
	font-size: 1.000em;
}
.switchable ul li.address p {
	margin-top: -90px;
}

/*	~~~~~~~~~~~~~~~~~~~~~~ TH Tim's Modifications ~~~~~~~~~~~~~~~~~~~~~~	*/
.clear-both{clear:both;} /* should be replaced by .clearfix (and how that works) */
.float-right{float:right;} /* should be replaced by .right */
.float-left{float:left;} /* should be replaced  by .left */
.section-header{ /* should be replaced by .squared-box h2 */
	background: url("../images/bkgd_accordion_header.png") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #CCCCCC;	
	color: #999999;
	height: 33px;
	margin:0px;
	padding: 20px 0 5px 20px;
}
.pad-below{margin-bottom:10px;}
.content-padding{padding:20px;}/* should be replaced by .padded */

/*	~~~~~~~~~~~ TH end Tim's Modifications ~~~~~~~~~~~~~~~~~~~~ */
