@charset "utf-8";
/* Tim's CSS Document */

/*styles used for registration and login pages.*/
.form-note{font-style:italic; font-size:10px;}
.form-note-alert{font-style:italic; font-size:10px; color: #FF0000;}
.backtosignin{float:left; padding-top:5px;}

.form-entry{
	width:550px;
}
.left-form-div{
	float:left; width:400px; padding-bottom:10px;	
}
.right-form-div{
	float:left; width:100px;margin-left:40px;  padding-bottom:10px;
}
.clear-both{clear:both;}
.float-right{float:right;}
.section-header{
	background: url("../images/bkgd_accordion_header.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #CCF;	
	color: #999999;
	height: 33px;
	margin:0px;
	padding: 20px 0 5px 20px;
}

.show-toggle-a{display:block;}
.show-toggle-b{display:none;}

label{font-weight:bold;}
.pad-below{margin-below:10px;}

.content-padding{padding:20px;}
/*.active{background: url("../images/bkgd_nav_primary_active.png") repeat-x scroll left 3px transparent; color:#fff;}*/
.textbox-checkmark{background:url(images/icon_check.png) no-repeat right; background-position: 98% 50%;}

/*  --------------------- Account settings  ---------------------------------------*/
.security-question{width:550px;}
/*  --------------------- End Account settings  -----------------------------------*/
