/* This File is for IE < 9.
 * THIS IS NOT FOR IE9. there is an ie9.css for that
 */
#background-image {
	filter:alpha(opacity=80);
	z-index: 1;
}
.submit,
.submit span {
	background-color: #FFFFFF;
	border: none;
	overflow: visible !important;
}
.submit-area {
	overflow:hidden;
}
header,
header .primary-nav-contents,
header .secondary-nav-contents,
 {
	z-index:1002;
}
header .secondary-nav-contents ul li a {
	filter: dropshadow(color=#000000, offx=0, offy=1);
}
button.submit span,
button.submit:active span {
/*	border: none;*/
	top: 1px; 
	right: -10px;
}

.switchable ul input,
.switchable ul span,
.switchable .select-wrapper {
	visibility:hidden;
}
.switchable-edit ul input,
.switchable-edit ul span,
.switchable-edit .select-wrapper {
	visibility:visible;
}
.rounded-box .box-title{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}